*

!/.gitignore
!/pom.xml
!/LICENSE
!/README.md
!/versions-maven-plugin-rules.xml

!src/
!src/**/
!src/**/java/**/*.java
!src/**/resources/**/*.yml
!src/**/resources/**/*.svg
!src/**/resources/**/*.graphqls
!src/**/resources/**/*.properties

!.github/
!.github/**/
!.github/workflows/**/*.yml
!.github/CODEOWNERS
!.github/dependabot.yml