name: Install
on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        type: environment
        default: "beta"
      ref:
        description: "Branch/tag/SHA of digitraffic-rail-graphql-private"
        required: true
        default: "master"
      config-repo-branch:
        description: "Config repo branch"
        default: master
        required: true
        type: string
jobs:
  install:
    if: github.repository != 'tmfg/digitraffic-rail-graphql'
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    environment: ${{ github.event.inputs.env }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.ref }}
      - name: Checkout CI-repo
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
          ref: ${{ inputs.config-repo-branch }}
          path: config
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: corretto
          cache: maven
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: gh-actions-install-rail-graphql-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Set capitalized app variable
        run: |
          APP_CAPITALIZED=$(echo ${{ github.event.inputs.app }} | awk '{print toupper(substr($0, 0, 1)) substr($0, 2)}')
          echo "APP_CAPITALIZED=$APP_CAPITALIZED" >> $GITHUB_ENV
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build
        run: |
          mvn -f pom.xml install -e -U -DskipTests=true -Ddependency-check.skip=true
          
          cp target/rail-graphql-0.0.1-SNAPSHOT.jar config/aws/rail-graphql.jar
          cd config/aws
          
          docker buildx build \
            --no-cache \
            --build-arg JAR_FILE=rail-graphql.jar \
            --build-arg PROPERTY_FILE=conf/rail-graphql-${{ github.event.inputs.env }}.properties \
            --build-arg LOGCONF_FILE=conf/graphql-logback.xml \
            --platform linux/arm64 \
            --output type=docker \
            --tag ${{ secrets.ECR_URL }}/rata-graphql:${GITHUB_SHA} \
            --pull=true \
            --file=docker/Dockerfile-rail-graphql .
          
          docker push ${{ secrets.ECR_URL }}/rata-graphql:${GITHUB_SHA}
      - name: Generate SBOM
        run: |
          mvn -DoutputName=graphql-sbom cyclonedx:makeBom
      - name: Update GraphQL task definition
        uses: tmfg/digitraffic-actions@update-task-def/v2
        with:
          task-def-file-name: rail-${{ github.event.inputs.env }}-graphql
          family-name: digitraffic-graphql
          image-arn: ${{ secrets.ECR_URL }}/rata-graphql:${{ github.sha }}
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          ci-repo-url: ${{ secrets.CONFIG_REPO_NAME }}
          ci-repo-branch: ${{ github.event.inputs.config-repo-branch }}
          ci-ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
      - name: Update ECS service
        uses: tmfg/digitraffic-actions@ecs-service-update/v1
        with:
          aws-role: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          task-definition: digitraffic-graphql
          service-name: digitraffic-graphql
          cluster-name: ${{ secrets.CLUSTER_NAME }}
          desired-count: ${{ secrets.CONTAINER_COUNT }}
      - name: Configure AWS credentials for SBOM install
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.SBOM_AWS_ROLE }}
          role-session-name: gh-actions-upload-sbom-rail-graphql-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Upload SBOM
        run: |
          aws s3 cp target/graphql-sbom.json s3://${{ secrets.SBOM_BUCKET }}/${{ fromJson(secrets.SBOM_PROJECT_KEYS)[github.event.inputs.env]['graphql'] }}/${{ github.run_id }}-${{ github.sha }}.json
      - name: Notify Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          text: FAILED Rail GraphQL install
          fields: repo, job, took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
